body {
   /* background: #3933f2;*/
   background-color: #2253f5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
      margin: 0px;
      background-image: url('https://images.unsplash.com/photo-1617150119111-09bbb85178b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80')
  }
  
  form {
    max-width: 40%;
    margin: 0 auto;
    margin-top: 5%;
  }
  
  h1 {
    font-weight: 100;
    color: white;
    text-align: center;
  }
  
  
  
  p {
    color: #bf1650;
  }
  
  p::before {
    display: inline;
    content: "⚠ ";
  }
  
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgb(240, 236, 236);
    padding: 10px 15px;
    margin-bottom: 30px;
    font-size: 14px;
  }

  select{
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 30px;
    border: 1px solid rgb(240, 236, 236);
    background-color: white;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: lighter;
  }
  
  label {
    line-height: 3;
    text-align: left;
    display: block;
    color: black;
    font-size: 14px;
    font-weight: 200;
  }
  
  button[type="submit"],
  input[type="submit"] {
    background: #2253f5;
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 1rem;
    width: 100%;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 10%;
  }
  
  button[type="submit"]:hover,
  input[type="submit"]:hover {
    background: #bf1650;
  }
  
 
  
  input:disabled {
    opacity: 0.4;
  }
  
  input[type="button"]:hover {
    transition: 0.3s all;
  }
  
  button[type="submit"],
  input[type="button"],
  input[type="submit"] {
    -webkit-appearance: none;
  }
  
  
  pre {
    color: white;
  }
  
  
  
  button {
    display: block;
    appearance: none;
    margin-top: 40px;
    border: 1px solid #333;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
  } 
  

  .flex-container {
    display: flex;
    height: 60rem;
    margin-right: 50px;
    

   
}

.flex-child {
    flex: 1;
    background-color: #2253f5;
   
    
    
    
}  

.flex-child:first-child {
    background-color: white;
    margin-left: 4rem;
    flex-grow: 2;
    
} 





.header-text{
    margin-top: 70%;
    margin-left: 20%;
    font-size: 20px;
    text-align: center;
    width: 60%;
     color: white;
}

.header-text h1{
    font-weight: bold;
    margin-bottom: 20%;
    
}

.header-text h4{
    text-align: left;
    letter-spacing: 1px;
}

.container h1{
    color: black;
    margin-top: 15%;
    margin-bottom: 5%;
    font-size: 35px;
    font-weight: 500;
    margin-right: 4.1rem;
    
   
}
.container span{
  font-weight: 300;
  font-size: 13px;
}



.signin{
    margin-left: 23.5rem;
    font-weight: 280;
}
.eye{
        float: right;
        height: 20px;
         width: 20px;
        margin-right: 6px;
        margin-top: -13%;
        position: relative;
        z-index: 2;
        color: black;
}

.steps {
  margin-top: 3%;
  margin-left: 90%;
}

